<div class="card-container">
  <div class="header">
    Consignee Details
  </div>
  <div class="content">
    <!-- Form Group for Consignee Options -->
    <div class="form-group">
      <div class="radio-inline">
        <input type="radio" name="consigneeOption" id="newConsignee">
        <label for="newConsignee">New Consignee &nbsp;</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="consigneeOption" id="existingConsignee" checked>
        <label for="existingConsignee">Existing Consignee &nbsp;</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="consigneeOption" id="sameAsCustomer" checked>
        <label for="sameAsCustomer">Same as Customer &nbsp;</label>
      </div>
    </div>

    <!-- Form Group for Consigne Details -->
    <div class="form-group">
      <label for="customerName">Name</label>
      <input type="text" id="customerName" placeholder="Customer Name" size="35" disabled>
    </div>

  </div>


</div>
