<div class="card-container">
  <div class="header">
    Customer Details
  </div>
  <div class="content">

    <!-- Form Group for customer option -->
    <form class="clr-form-compact">
      <div class="form-group">
        <div class="radio-inline">
          <input type="radio" name="customerOption" id="newCustomer">
          <label for="newCustomer">New Customer &nbsp;</label>
        </div>
        <div class="radio-inline">
          <input type="radio" name="customerOption" id="existingCustomer" checked>
          <label for="existingCustomer">Existing Customer &nbsp;</label>
        </div>
      </div>

      <!-- Form group for Customer Name -->
      <div class="form-group">
        <input type="text" id="customerName" placeholder="Customer Name" size="35" >
      </div>

      <!-- Form group for Customer Name -->
      <div class="form-group">
        <input type="text" id="customerAddress" placeholder="Street Address" >
        <input type="text" id="city" placeholder="City"  >
        <input type="text" id="state" placeholder="State"  >
        <input type="text" id="zipCode" placeholder="Postal Code"  >
      </div>
    </form>

  </div>

</div>
