<clr-wizard [clrWizardClosable]="false" #invoiceWizard [(clrWizardOpen)]="wizardOpen">
  <clr-wizard-title>Create Invoice</clr-wizard-title>
  <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button (click)="closeWizard()" [type]="'finish'">Finish</clr-wizard-button>

  <!-- Invoice Date Page -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Invoice Date</ng-template>

    <app-error [(closeErrorMessage)]="showInvoiceDateError" (refresh)="showInvoiceDateError = $event" [closable]="true" [errorMessage]="invoiceDateErrorMessage"></app-error>
    <div class="clr-row">
      <div class="clr-col-md-12">
        <mat-form-field>
          <input matInput [matDatepicker]="invoiceDatePicker" placeholder="Invoice Date" [(ngModel)]="invoice.invoiceDate">
          <mat-datepicker-toggle matSuffix [for]="invoiceDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #invoiceDatePicker></mat-datepicker>
        </mat-form-field>
        <span>&nbsp;</span>
        <div class="clr-control-container clr-error" *ngIf="invoiceDateError">
          <div class="clr-input-wrapper">
             <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext">Invoice Date is Mandatory!</span>
        </div>
      </div>

    </div>
    <div class="clr-row">
      <div class="clr-col-md-12">
        <mat-form-field>
          <input matInput [matDatepicker]="invoiceDueDatePicker" placeholder="Invoice Due Date" [(ngModel)]="invoice.invoiceDueDate">
          <mat-datepicker-toggle matSuffix [for]="invoiceDueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #invoiceDueDatePicker></mat-datepicker>
        </mat-form-field>
        <span>&nbsp;</span>
        <div class="clr-control-container clr-error" *ngIf="invoiceDueDateError">
          <div class="clr-input-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext">Invoice Due Date is Mandatory!</span>
        </div>
      </div>
    </div>

    <ng-template clrPageButtons>
      <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button
        (clrWizardButtonClicked)="getCustomerPage()"
        [type]="'custom-next'">Next
      </clr-wizard-button>
    </ng-template>
  </clr-wizard-page>

  <!-- Add Customer Page -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Add Customer</ng-template>

    <div>
      <div class="form-group">
        <div class="radio-inline">
          <input type="radio" (change)="newCustomer = true; clearCustomer()" [checked]="newCustomer" name="customerOption"
                 id="newCustomer">
          <label for="newCustomer">New Customer &nbsp;</label>
        </div>
        <div class="radio-inline">
          <input type="radio" (change)="newCustomer = false" [checked]="!newCustomer" name="customerOption"
                 id="existingCustomer">
          <label for="existingCustomer">Existing Customer &nbsp;</label>
        </div>
      </div>
    </div>

    <!-- New Customer Form -->
    <div *ngIf="newCustomer">
      <form class="clr-form clr-form-compact">
        <section class="form-block">
          <div class="form-group">
            <label class="clr-control-label required">Customer Name</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(customer.name)}">
              <div class="clr-input-wrapper">
                <input clrInput type="text" id="customerName" name="customerName" [(ngModel)]="customer.name" required>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.containsValue(customer.name)" class="clr-subtext">Customer Name is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label required">Customer Address</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(customer.address)}">
              <div class="clr-textarea-wrapper">
                <textarea cols="35" id="customerAddress" class="clr-textarea" name="customerAddress"
                          [(ngModel)]="customer.address"></textarea>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.containsValue(customer.address)" class="clr-subtext">Address is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label required">Customer State</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(customer.stateCode)}">
                <div class="clr-select-wrapper">
                  <select type="text" class="clr-input" id="state" name="customerState" [(ngModel)]="customer.stateCode">
                    <option *ngFor="let state of states" value="{{state.statecode}}">{{state.statename}}</option>
                  </select>
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              <span *ngIf="!util.containsValue(customer.stateCode)" class="clr-subtext">State is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label">Customer GSTIN</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.isValidGstin(customer.gstin)}">
              <div class="clr-input-wrapper">
                <input type="text" class="clr-input" id="custGstin" name="custGstin" [(ngModel)]="customer.gstin">
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.isValidGstin(customer.gstin)" class="clr-subtext">Incorrect format for GSTIN. e.g. 22ABCDE1234F1Z8</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label">Contact Information</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" placeholder="Email" id="customerEmail" name="customerEmail" [(ngModel)]="customer.email"> &nbsp;
                <input type="text" placeholder="Mobile No" id="customerMobileNumber" name="customerMobileNumber" [(ngModel)]="customer.mobileNo">&nbsp;
                <input type="text" placeholder="Phone No" id="customerPhoneNumber" name="customerPhoneNumber" [(ngModel)]="customer.phoneNo">
              </div>
            </div>
          </div>

        </section>

      </form>
    </div>

    <!-- Existing Customer Grid -->
    <div *ngIf="!newCustomer">
      <clr-datagrid>
        <clr-dg-column>Select</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Address</clr-dg-column>
        <clr-dg-column>State</clr-dg-column>
        <clr-dg-column>GSTIN</clr-dg-column>
        <clr-dg-column>Email</clr-dg-column>
        <clr-dg-column>Mobile#</clr-dg-column>
        <clr-dg-column>Phone#</clr-dg-column>

        <clr-dg-row *clrDgItems="let cust of customers">
          <clr-dg-cell>
            <button class="btn btn-sm btn-icon" *ngIf="customer.name != cust.name" (click)="customer = cust">
              <clr-icon shape="plus"></clr-icon>
            </button>
            <button class="btn btn-sm btn-success btn-icon" *ngIf="customer.name == cust.name">
              <clr-icon shape="check"></clr-icon>
            </button>
          </clr-dg-cell>
          <clr-dg-cell>{{cust.name}}</clr-dg-cell>
          <clr-dg-cell>{{cust.address}}</clr-dg-cell>
          <clr-dg-cell>{{cust.state}}</clr-dg-cell>
          <clr-dg-cell>{{cust.gstin}}</clr-dg-cell>
          <clr-dg-cell>{{cust.email}}</clr-dg-cell>
          <clr-dg-cell>{{cust.mobileNo}}</clr-dg-cell>
          <clr-dg-cell>{{cust.phoneNo}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} customers
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>
    </div>

    <ng-template clrPageButtons>
      <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
      <clr-wizard-button
        (clrWizardButtonClicked)="getConsigneePage()"
        [clrWizardButtonDisabled]="!checkCustomerSelected()"
        [type]="'custom-next'">Next
      </clr-wizard-button>
    </ng-template>
  </clr-wizard-page>

  <!-- Add Consignee Page -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Add Consignee</ng-template>

    <div>
      <div class="form-group">
        <div class="radio-inline">
          <input type="radio" (change)="toggleConsigeeOptions('new')" [checked]="consigneeOptions.newConsignee" name="consigneeOption"
                 id="newConsignee">
          <label for="newConsignee">New Consignee &nbsp;</label>
        </div>
        <div class="radio-inline">
          <input type="radio" (change)="toggleConsigeeOptions('existing')" [checked]="consigneeOptions.existingConsignee" name="consigneeOption"
                 id="existingConsignee">
          <label for="existingConsignee">Existing Consignee &nbsp;</label>
        </div>
        <div class="radio-inline">
          <input type="radio" [checked] = "consigneeOptions.sameAsCustomer" (change)="toggleConsigeeOptions('sameAsCustomer')" name="consigneeOption"
                 id="sameAsCustomer">
          <label for="sameAsCustomer">Same as Customer</label>
        </div>
      </div>
    </div>

    <div *ngIf="!consigneeOptions.existingConsignee">
      <form class="clr-form clr-form-compact">
        <section class="form-block">
          <div class="form-group">
            <label class="clr-control-label required">Consignee Name</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(consignee.name)}">
              <div class="clr-input-wrapper">
                <input clrInput type="text" id="consigneeName" name="consigneeName" [(ngModel)]="consignee.name" required>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.containsValue(consignee.name)" class="clr-subtext">Consignee Name is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label required">Consignee Address</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(consignee.address)}">
              <div class="clr-textarea-wrapper">
                <textarea cols="35" id="consigneeAddress" class="clr-textarea" name="consigneeAddress"
                          [(ngModel)]="consignee.address"></textarea>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.containsValue(consignee.address)" class="clr-subtext">Address is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label required">Consignee State</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(consignee.stateCode)}">
              <div class="clr-select-wrapper">
                <select type="text" class="clr-input" id="conState" name="consigneeState" [(ngModel)]="consignee.stateCode">
                  <option *ngFor="let state of states" value="{{state.statecode}}">{{state.statename}}</option>
                </select>
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.containsValue(consignee.stateCode)" class="clr-subtext">State is required!</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label">Consignee GSTIN</label>
            <div class="clr-control-container" [ngClass]="{'clr-error':!util.isValidGstin(consignee.gstin)}">
              <div class="clr-input-wrapper">
                <input type="text" class="clr-input" id="consGstin" name="consGstin" [(ngModel)]="consignee.gstin">
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span *ngIf="!util.isValidGstin(consignee.gstin)" class="clr-subtext">Incorrect format for GSTIN. e.g. 22ABCDE1234F1Z8</span>
            </div>
          </div>

          <div class="form-group">
            <label class="clr-control-label">Contact Information</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" placeholder="Email" id="consigneeEmail" name="consigneeEmail" [(ngModel)]="consignee.email"> &nbsp;
                <input type="text" placeholder="Mobile No" id="consigneeMobileNumber" name="consigneeMobileNumber" [(ngModel)]="consignee.mobileNo">&nbsp;
                <input type="text" placeholder="Phone No" id="consigneePhoneNumber" name="consigneePhoneNumber" [(ngModel)]="consignee.phoneNo">
              </div>
            </div>
          </div>

        </section>

      </form>
    </div>

    <!-- Existing Consignee Grid -->
    <div *ngIf="consigneeOptions.existingConsignee">
      <clr-datagrid>
        <clr-dg-column>Select</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Address</clr-dg-column>
        <clr-dg-column>State</clr-dg-column>
        <clr-dg-column>GSTIN</clr-dg-column>
        <clr-dg-column>Email</clr-dg-column>
        <clr-dg-column>Mobile#</clr-dg-column>
        <clr-dg-column>Phone#</clr-dg-column>

        <clr-dg-row *clrDgItems="let cons of consignees">
          <clr-dg-cell>
            <button class="btn btn-sm btn-icon" *ngIf="consignee.name != cons.name" (click)="consignee = cons">
              <clr-icon shape="plus"></clr-icon>
            </button>
            <button class="btn btn-sm btn-success btn-icon" *ngIf="consignee.name == cons.name">
              <clr-icon shape="check"></clr-icon>
            </button>
          </clr-dg-cell>
          <clr-dg-cell>{{cons.name}}</clr-dg-cell>
          <clr-dg-cell>{{cons.address}}</clr-dg-cell>
          <clr-dg-cell>{{cons.state}}</clr-dg-cell>
          <clr-dg-cell>{{cons.gstin}}</clr-dg-cell>
          <clr-dg-cell>{{cons.email}}</clr-dg-cell>
          <clr-dg-cell>{{cons.mobileNo}}</clr-dg-cell>
          <clr-dg-cell>{{cons.phoneNo}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} consignees
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>
    </div>

    <ng-template clrPageButtons>
      <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
      <clr-wizard-button
        (clrWizardButtonClicked)="getInvoiceItemPage()"
        [clrWizardButtonDisabled]="!checkConsigneeSelected()"
        [type]="'custom-next'">Next
      </clr-wizard-button>
    </ng-template>

  </clr-wizard-page>

  <!-- Add Invoice Item Page -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Add Invoice Items</ng-template>

    <div>
      <form class="clr-form">
        <div class="form-group">
          <label class="clr-control-label required">Product</label>
          <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(tempInvoiceItem.product)}">
            <div class="clr-select-wrapper">
              <select (change)="setTaxRate()" type="text" class="clr-input" id="product" name="product" [(ngModel)]="tempInvoiceItem.product">
                <option *ngFor="let product of products" [ngValue]="product">{{product.name}}({{product.company}})</option>
              </select>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span *ngIf="!util.containsValue(tempInvoiceItem.product)" class="clr-subtext">Product is Required!</span>
            <span *ngIf="util.containsValue(tempInvoiceItem.product)" class="clr-subtext">Product</span>
          </div>
          &nbsp;
          <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(tempInvoiceItem.quantity)}">
            <div class="clr-input-wrapper">
              <input size="7" clrInput placeholder="Quantity" (blur)="calculateTotal()" name="quantity" [(ngModel)]="tempInvoiceItem.quantity">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span *ngIf="!util.containsValue(tempInvoiceItem.quantity)" class="clr-subtext">Quantity is Required!</span>
            <span *ngIf="util.containsValue(tempInvoiceItem.quantity)" class="clr-subtext">Quantity</span>
          </div>
          &nbsp;
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input size="5" clrInput placeholder="Unit" name="unit" [(ngModel)]="tempInvoiceItem.unit">
              <span class="clr-subtext">Units</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="clr-control-label required">Price Details</label>
          <div class="clr-control-container" [ngClass]="{'clr-error':!util.containsValue(tempInvoiceItem.rate)}">
            <div class="clr-input-wrapper">
              <input size="7" clrInput (blur)="calculateTotal()" placeholder="Rate" name="rate" [(ngModel)]="tempInvoiceItem.rate">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span *ngIf="!util.containsValue(tempInvoiceItem.rate)" class="clr-subtext">Rate is Required!</span>
            <span *ngIf="util.containsValue(tempInvoiceItem.rate)" class="clr-subtext">Rate</span>
          </div>
          &nbsp;
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input size="10" disabled clrInput placeholder="Total" name="total" [(ngModel)]="tempInvoiceItem.total">
              <span class="clr-subtext">Total</span>
            </div>
          </div>
          &nbsp;
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input size="5" clrInput placeholder="Discount" (blur)="calculateTaxableValue()" name="discount" [(ngModel)]="tempInvoiceItem.discount">
              <span class="clr-subtext">Discount</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="clr-control-label required">Tax Details</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input size="10" disabled clrInput placeholder="Taxable Value" name="taxableValue" [(ngModel)]="tempInvoiceItem.taxableValue">
            </div>
            <span class="clr-subtext">Taxable Amount</span>
          </div>

          &nbsp;

          <div *ngIf="applicableTaxType == 'S-AND-C-GST'">
            <div class="clr-control-container" [ngClass]="{'clr-error': !util.containsValue(tempInvoiceItem.cgstRate)}">
              <div class="clr-input-wrapper">
                <input size="10" clrInput placeholder="CGST%" name="cgstRate" [(ngModel)]="tempInvoiceItem.cgstRate">
                <clr-icon *ngIf="!util.containsValue(tempInvoiceItem.cgstRate)" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="clr-subtext">CGST Rate</span>
            </div>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input size="10" disabled clrInput placeholder="CGST Amount" name="cgstAmount" [(ngModel)]="tempInvoiceItem.cgstAmount">
              </div>
              <span class="clr-subtext">CGST Amount</span>
            </div>
            &nbsp;
            <div class="clr-control-container" [ngClass]="{'clr-error': !util.containsValue(tempInvoiceItem.sgstRate)}">
              <div class="clr-input-wrapper">
                <input size="10" clrInput placeholder="SGST%" name="sgstRate" [(ngModel)]="tempInvoiceItem.sgstRate">
                <clr-icon *ngIf="!util.containsValue(tempInvoiceItem.sgstRate)" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="clr-subtext">SGST Rate</span>
            </div>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input size="10" disabled clrInput placeholder="SCGST Amount" name="sgstAmount" [(ngModel)]="tempInvoiceItem.sgstAmount">
              </div>
              <span class="clr-subtext">SGST Amount</span>
            </div>
          </div>

          <div *ngIf="applicableTaxType == 'I-GST'">
            <div class="clr-control-container" [ngClass]="{'clr-error': !util.containsValue(tempInvoiceItem.igstRate)}">
              <div class="clr-input-wrapper">
                <input size="10" clrInput placeholder="IGST%" name="igstRate" [(ngModel)]="tempInvoiceItem.igstRate">
                <clr-icon *ngIf="!util.containsValue(tempInvoiceItem.igstRate)" class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="clr-subtext">IGST Rate</span>
            </div>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input size="10" disabled clrInput placeholder="IGST Amount" name="igstAmount" [(ngModel)]="tempInvoiceItem.igstAmount">
              </div>
              <span class="clr-subtext">IGST Amount</span>
            </div>
          </div>

          <div class="clr-control-container">
            <button class="btn btn-sm btn-success" [disabled]="!isInvoiceFormValid()" (click)="addItemToInvoice()">Add Item</button>
          </div>

        </div>


      </form>
    </div>

    <div *ngIf="invoiceItems">
      <clr-datagrid [(clrDgSelected)]="selectedInvoiceItems">

        <clr-dg-action-bar>
              <div class="btn-group">
                <button (click)="removeInvoiceItems()" [disabled]="selectedInvoiceItems.length == 0" type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="close"></clr-icon> Delete</button>
                <button (click)="editInvoiceItem()" [disabled]="selectedInvoiceItems.length !== 1" type="button" class="btn btn-sm btn-secondary" ><clr-icon shape="pencil"></clr-icon> Edit</button>
              </div>
        </clr-dg-action-bar>

        <clr-dg-column>Product</clr-dg-column>
        <clr-dg-column>Quantity</clr-dg-column>
        <clr-dg-column>Rate</clr-dg-column>
        <clr-dg-column>Total</clr-dg-column>
        <clr-dg-column>Taxable Amount</clr-dg-column>
        <clr-dg-column *ngIf="applicableTaxType =='S-AND-C-GST'">CGST</clr-dg-column>
        <clr-dg-column *ngIf="applicableTaxType =='S-AND-C-GST'">SGST</clr-dg-column>
        <clr-dg-column *ngIf="applicableTaxType =='I-GST'">IGST</clr-dg-column>
        <clr-dg-column>Discount</clr-dg-column>

        <clr-dg-row *clrDgItems="let invoiceItem of invoiceItems" [clrDgItem]="invoiceItem">
          <clr-dg-cell>{{invoiceItem.product.name}}</clr-dg-cell>
          <clr-dg-cell>{{invoiceItem.quantity}}</clr-dg-cell>
          <clr-dg-cell>{{invoiceItem.rate}}</clr-dg-cell>
          <clr-dg-cell>{{invoiceItem.total}}</clr-dg-cell>
          <clr-dg-cell>{{invoiceItem.taxableValue}}</clr-dg-cell>
          <clr-dg-cell *ngIf="applicableTaxType =='S-AND-C-GST'">{{invoiceItem.cgstAmount}} at ({{invoiceItem.cgstRate}}%)</clr-dg-cell>
          <clr-dg-cell *ngIf="applicableTaxType =='S-AND-C-GST'">{{invoiceItem.sgstAmount}} at ({{invoiceItem.sgstRate}}%)</clr-dg-cell>
          <clr-dg-cell *ngIf="applicableTaxType =='I-GST'">{{invoiceItem.igstAmount}} at ({{invoiceItem.igstRate}}%)</clr-dg-cell>
          <clr-dg-cell>{{invoiceItem.discount}}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} invoice items
          </clr-dg-pagination>
        </clr-dg-footer>

      </clr-datagrid>

    </div>

    <ng-template clrPageButtons>
      <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
      <clr-wizard-button
        [clrWizardButtonDisabled]="invoiceItems.length == 0"
        [type]="'custom-next'" (click)="finalizeInvoice()">Next
      </clr-wizard-button>
    </ng-template>
  </clr-wizard-page>


  <!-- Summary of Invoice -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Invoice Summary</ng-template>
    <div class="clr-row">
      <div class="clr-col-md-6">
        <span style="font-weight: bold">Invoice Date: &nbsp;</span> {{invoice.invoiceDate | date}}
      </div>
      <div class="clr-col-md-6">
        <span style="font-weight: bold">Invoice Due Date: &nbsp;</span> {{invoice.invoiceDueDate | date}}
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-6">
        <h4>Customer Information(Billed To)</h4>
        <span style="font-weight: bold;">{{customer.name}}</span><br/>
        <span>{{customer.address}}</span><br/>
        <span>{{customer.state}} ({{customer.stateCode}})</span><br/>
        <span>{{customer.gstin}}</span><br/>
        <clr-icon shape="mobile" class="is-solid"></clr-icon><span>{{customer.mobileNo}}</span>&nbsp;
        <clr-icon shape="phone-handset" class="is-solid"></clr-icon><span>{{customer.phoneNo}}</span><br/>
        <clr-icon shape="envelope" class="is-solid"></clr-icon><span>{{customer.email}}</span>
      </div>
      <div class="clr-col-6">
        <h4>Consignee Information(Shipped To)</h4>
        <span style="font-weight: bold;">{{consignee.name}}</span><br/>
        <span>{{consignee.address}}</span><br/>
        <span>{{consignee.state}}({{consignee.stateCode}})</span><br/>
        <span>{{consignee.gstin}}</span><br/>
        <clr-icon shape="mobile" class="is-solid"></clr-icon><span>{{consignee.mobileNo}}</span>&nbsp;
        <clr-icon shape="phone-handset" class="is-solid"></clr-icon><span>{{consignee.phoneNo}}</span><br/>
        <clr-icon shape="envelope" class="is-solid"></clr-icon><span>{{consignee.email}}</span>
      </div>
    </div>

    <div class="clr-row">
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Disc.</th>
            <th>Taxable</th>
            <th *ngIf="applicableTaxType=='S-AND-C-GST'">CGST</th>
            <th *ngIf="applicableTaxType=='S-AND-C-GST'">SGST</th>
            <th *ngIf="applicableTaxType=='I-GST'">IGST</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoiceSummItem of invoiceItems">
            <td>{{invoiceSummItem.serialNumber}}</td>
            <td>{{invoiceSummItem.product.name}}[{{invoiceSummItem.product.hsnCode}}]</td>
            <td>{{invoiceSummItem.quantity}}</td>
            <td>{{invoiceSummItem.rate}}</td>
            <td>{{invoiceSummItem.total | currency:" "}}</td>
            <td>{{invoiceSummItem.discount | currency:" "}}</td>
            <td>{{invoiceSummItem.taxableValue | currency:" "}}</td>
            <td *ngIf="applicableTaxType=='S-AND-C-GST'">{{invoiceSummItem.cgstAmount | currency:" "}} at {{invoiceSummItem.cgstRate}}%</td>
            <td *ngIf="applicableTaxType=='S-AND-C-GST'">{{invoiceSummItem.sgstAmount | currency:" "}} at {{invoiceSummItem.sgstRate}}%</td>
            <td *ngIf="applicableTaxType=='I-GST'">{{invoiceSummItem.igstAmount | currency:" "}} at {{invoiceSummItem.igstRate}}%</td>
          </tr>
        <tr>
          <td colspan="4">
            <span style="font-weight: bold">Total</span>
          </td>
          <td>

          </td>
          <td>

          </td>
          <td>
            <span style="font-weight: bold">{{invoice.grandTotal | currency: " "}}</span>
          </td>
          <td colspan="2" *ngIf="applicableTaxType=='S-AND-C-GST'">
            <span style="font-weight: bold">{{invoice.totalTax | currency: " "}}</span>
          </td>
          <td *ngIf="applicableTaxType=='I-GST'">
            <span style="font-weight: bold">{{invoice.totalTax | currency: " "}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <ng-template clrPageButtons>
      <clr-wizard-button (click)="closeWizard()" [type]="'cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
      <clr-wizard-button (click)="createInvoice()" [type]="'finish'">Finish
      </clr-wizard-button>
    </ng-template>
  </clr-wizard-page>

</clr-wizard>
